<!DOCTYPE html>
<html>
<head>
    <title>Gayathiri's blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Gayathiri's blog</a></h1>
    </header>
 <!--  
    {% for post in posts %}
        {{ post }} 
    {% endfor %}
 
    <article>
        <time>published: 07 Nov 2024, 10.40</time>
        <h2><a href="/">My first post</a></h2>
        <p> Have fun!</p>
    </article>

    <article>
        <time>published: 07 Nov 2024, 10.40</time>
        <h2><a href="/">My second post</a></h2>
        <p> It is learning time</p>
    </article>
    -->
{% for post in posts %}
<article>
    <time>published: {{ post.published_date }}</time>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
</article>
{% endfor %}
 <!-- 
    <p>Hi there!</p>
    <p>It works</p>
    -->
</body>    
</html>